<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/headInfo.ejs') %>
  </head>
  <body>
    <h1>All products</h1>

    <main>
        <%- include('./partials/product.ejs', products) %>
    </main>
    
  <footer>  
  <%- include('./partials/navigation.ejs') %>

  </footer>
  </body>
</html>
